# Python caches
__pycache__/
*.pyc

# Virtual environment
/venv/

# IDE
/.idea/
*.iml
*.ipr
*.iws

# Git
/.git/

# Logs
*.log

# Allure reports
allure-report/
allure-results/
build/allure-results/

# Pytest cache
/.pytest_cache/

# Environment files
.env
